@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1440' preserveAspectRatio='none' viewBox='0 0 1440 1440'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1127%26quot%3b)' fill='none'%3e%3crect width='1440' height='1440' x='0' y='0' fill='rgba(112%2c 159%2c 237%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c581.418C106.2%2c566.826%2c160.685%2c448.199%2c252.753%2c393.292C349.466%2c335.615%2c481.369%2c339.747%2c552.123%2c252.146C628.507%2c157.574%2c675.906%2c24.876%2c645.352%2c-92.788C615.148%2c-209.107%2c492.788%2c-271.309%2c397.263%2c-344.23C318.919%2c-404.036%2c229.398%2c-435.835%2c140.423%2c-478.237C32.16%2c-529.831%2c-62.592%2c-629.721%2c-182.154%2c-620.358C-306.494%2c-610.62%2c-415.019%2c-524.603%2c-494.529%2c-428.512C-573.077%2c-333.585%2c-617.073%2c-212.492%2c-621.528%2c-89.362C-625.735%2c26.936%2c-576.402%2c135.833%2c-518.6%2c236.837C-464.852%2c330.756%2c-391.844%2c409.592%2c-301.715%2c469.478C-210.522%2c530.071%2c-108.469%2c596.322%2c0%2c581.418' fill='%23518ae9'%3e%3c/path%3e%3cpath d='M1440 2122.943C1567.71 2121.785 1685.25 2057.184 1787.225 1980.2930000000001 1884.012 1907.314 1972.0410000000002 1814.5149999999999 2004.089 1697.6109999999999 2034.246 1587.604 1985.944 1475.832 1955.667 1365.858 1929.003 1269.005 1903.779 1171.056 1838.1779999999999 1094.9769999999999 1772.482 1018.788 1676.909 984.168 1587.231 938.576 1476.54 882.301 1371.361 765.76 1251.046 796.482 1131.382 827.037 1098.752 981.544 1026.55 1081.743 961.696 1171.745 870.049 1246.129 848.608 1354.971 826.691 1466.225 867.836 1576.906 908.124 1682.899 950.838 1795.275 996.075 1909.9940000000001 1088.703 1986.629 1187.481 2068.352 1311.8029999999999 2124.1059999999998 1440 2122.943' fill='%238fb4f1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1127'%3e%3crect width='1440' height='1440' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Montserrat";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-containers {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
