* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
	width: 1px;
}

.searchbar {
	display: flex;
	justify-content: center;
	margin: 2rem;
}

.searchbar input {
	width: 60%;
	height: 3rem;
	outline: none;
	border-radius: 0.2rem;
	border: none;
	padding-left: 1rem;
}

input::placeholder {
	font-family: 'Montserrat', sans-serif;
}

.search-btn {
	background-color: transparent;
	transition: background 0.2s ease-in-out;
	border: 0 transparent;
	margin-left: -4rem;
	width: 4rem;
	border-top-right-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
	font-size: 1.7rem;
}

.search-btn:hover {
	background: #34a2fc;
}

@media screen and (max-width: 850px) {
	.searchbar input {
		width: 80%;
	}
}

@media screen and (max-width: 600px) {
	.searchbar input {
		width: 100%;
	}
}
